.bg{
    background: linear-gradient(-15deg, #666666 0, transparent 75%, #999997 0);
}

.bg-gb{
background: linear-gradient(-12deg,rgb(122, 145, 167) 0, transparent 75%,rgb(122, 145, 167)  0);
}

.bg-b{
    background: linear-gradient(-12deg, rgb(102, 164, 206) 0, transparent 75%, rgb(102, 164, 206) 0);
}

.reveal {
    .page-bg-right {
        margin-top: 0;
        margin-right: 8%;
        float: right;
        width:70%;
        text-align: left;
    }
}

.bg-horizon{
    position: absolute;
    top:0;
    left:0;
    width:100%
}