.popupText {
    text-align:left;
}

.reveal{
    a {
        &.iss_book{
            color:rgb(87, 105, 101);
        }
    }
} 

.popup-plotly-disable{
    display:none;
}

//relocate for each content
div#plotly_d1 {
    margin-top: 8%;
}
div#after_popup_plotly_d1 {
    margin-top: 5%;
}
// .testPlotly{

// }


