.swal2-popup #swal2-content {
    font-family: Microsoft JhengHei,BiauKai;
}

.popupText {
    text-align:left;
}

.reveal{
    a {
        &.iss_book{
            color:rgb(87, 105, 101);
        }
    }
    .popup-plotly-margin{
        margin-top: 3%;
    }
} 

.popup-plotly-disable{
    display:none;
}
//relocate for each content


// .testPlotly{

// }


