@import "background";
//for reveal image

.image-button{
    background-size: 300px 250px;
    width:300px; 
    height:250px;
    border: none;
    border-radius: 100px;
    outline:none;
}
.image-button:hover{
    opacity: 0.8;
}

.scrollable {
    overflow-y: auto !important;
    overflow-x: hidden !important;
    height: 700px;
}
// body.is-reveal-open {
//     overflow: hidden;
// }

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reveal {
    h2{
        color:white;
        font-size: 1.4em;
        text-align:left;
        margin-left: 28%;
    }

    section p {
        text-align:left;
        color:white;
        font-size: 30px;
        margin-left: 5%;
        .import{
            color: rgb(255,128,123)
        }
    }

    a{
        color:#ffffffc9;
        transition: color .15s ease;
        transition-property: color;
        transition-duration: 0.15s;
        transition-timing-function: ease;
        transition-delay: initial;
        font-size: 30px;
        margin-left: 5%;

        &:hover{
            color:#FFDA44;
        }
    }

    section img{
        margin: inherit;
        background: inherit;
        border: inherit;
        box-shadow: inherit;
    }
}

@import "cover";
@import "popup";
@import "calculate";
@import "longtxt";
@import "twocolumn";