.bg {
  background: linear-gradient(-15deg, #666666 0, transparent 75%, #999997 0); }

.bg-gb {
  background: linear-gradient(-12deg, #7a91a7 0, transparent 75%, #7a91a7 0); }

.bg-b {
  background: linear-gradient(-12deg, #66a4ce 0, transparent 75%, #66a4ce 0); }

.bg-gray {
  background: linear-gradient(-40deg, #050505 13%, #504c4c 35%, #353533 60%); }

.reveal .page-bg-right {
  margin-top: 0;
  margin-right: 8%;
  float: right;
  width: 70%;
  text-align: left; }

.bg-horizon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.image-button {
  background-size: 300px 250px;
  width: 300px;
  height: 250px;
  border: none;
  border-radius: 100px;
  outline: none; }

.image-button:hover {
  opacity: 0.8; }

.scrollable {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  height: 700px; }

.flex-container {
  display: flex;
  flex-direction: column; }

.reveal h2 {
  color: white;
  font-size: 1.4em;
  text-align: left;
  margin-left: 28%;
  font-family: 'Open Sans', sans-serif; }

.reveal section p {
  text-align: left;
  color: white;
  font-size: 30px;
  margin-left: 5%;
  font-family: 'Open Sans', sans-serif; }
  .reveal section p .import {
    color: #ff807b; }

.reveal [id^="bg2"] {
  text-align: inherit;
  color: white;
  font-size: inherit;
  margin-left: inherit;
  font-family: 'Open Sans', sans-serif; }

.reveal a {
  color: #ffffffc9;
  transition: color .15s ease;
  transition-property: color;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  transition-delay: initial;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif; }
  .reveal a:hover {
    color: #FFDA44; }
  .reveal a.imgicon {
    vertical-align: top; }

.reveal i {
  color: #FFDA44;
  margin-left: 5%;
  font-size: 35px; }

.reveal section img {
  margin: inherit;
  background: inherit;
  border: inherit;
  box-shadow: inherit; }
  .reveal section img.imgicon {
    height: 37px;
    margin-right: 0;
    margin-left: 5%;
    vertical-align: super; }

.reveal div.plot-container {
  width: '100%'; }

.reveal .progress {
  color: rgba(37, 115, 223, 0.75);
  top: 0;
  height: 25px; }

*:focus {
  outline: none; }

.allpage {
  width: 100%;
  height: 100%; }

.swal2-popup #swal2-content {
  font-family: Microsoft JhengHei,BiauKai;
  font-size: 30px; }
  .swal2-popup #swal2-content .textWithPadding {
    font-family: Microsoft JhengHei,BiauKai;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 30px; }

.swal2-popup .swal2-actions {
  flex-direction: row-reverse; }

.swal2-popup .swal2-title span.import {
  color: #ff807b; }

.popupText {
  text-align: left; }

.reveal a.iss_book .bookIcon {
  background-color: transparent !important;
  box-shadow: none !important; }

.reveal .popup-plotly-margin {
  margin-top: 3%; }

.popup-plotly-disable {
  display: none; }

.reveal section .longtxt p {
  text-align: left;
  font-size: 28px; }

.page-left {
  left: -8.33%;
  text-align: left;
  float: left;
  width: 40%;
  z-index: -10; }

.page-right {
  left: -10.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index: -10;
  width: 60%; }

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block; }

.dot.show {
  background-color: yellow; }
